/* BACKGROUND */
body {
    background: url('../images/fogtreebackground.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
/* HEADER */
header {
    background-color: rgb(80, 77, 77);
    padding: 20px;
    height: 100px;
    text-align: center;
}
header h1 {
    color: white;
}
header a {
    color: white;
    font: optima; 
    text-transform: uppercase;
    text-decoration: none;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
li {
    color: black;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* BUTTONS */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
/* FEATURES */
.features h4 {
    text-align: center;
    text-transform: uppercase;
}
.features {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}
.features figure img {
    margin: auto;
    border: 1px solid black;
    box-shadow: black 0px 0px 10px;
}
/* FOOTER */
footer {
    background: black;
    color: grey;
    font-size: 15px;
    padding: 20px 20px;
    text-align: center;
}
