/* BACKGROUND */
body {
    background: url('../images/fogtreebackground.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
/* RESPONSIVE RULES - BACKGROUND */
@media screen and (max-width: 400px) {
    body .mobile {
        background-size: 100%;
    }
}
/* HEADER */
header {
    padding: 20px;
    height: 100px;
    text-align: center;
}
header h1 {
    color: black;
    text-transform: bold;
}
header a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: bold;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
li {
    color: black;
}
a {
    text-decoration: none;
}
/* RESPONSIVE RULES - HEADER */
@media screen and (max-width: 636px) {
    header .mobile {
        display: inline-block;
    }

    header .desktop {
        display: none;
    }
}
/* BUTTONS */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 50%;
    text-align: right;
}
.fa:hover {
    opacity: 0.7;
}

/* FEATURES */
.features h4 {
    text-align: center;
    text-transform: uppercase;
}
.features {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}
.features figure img {
    margin: auto;
    border: 1px solid black;
    box-shadow: black 0px 0px 10px;
}
/* FOOTER */
footer {
    background: black;
    color: grey;
    font-size: 15px;
    padding: 20px 20px;
    text-align: center;
}