/* BACKGROUND */
body {
    background: url('../images/cloudsonly.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* RESPONSIVE RULES - BACKGROUND */
@media screen and (max-width: 400px) {
    body .mobile {
        background-size: 100%;
    }
}
/* HEADER */
header {
    padding: 100px;
    height: 100px;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}
header h1 {
    color: black;
    text-transform: bold;
    font-size: 60px;
    display: inline-block;
    width: auto;
}
header a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: bold;
}
h1:hover {
    opacity: 50%;
} 
nav a:hover {
  text-decoration: underline;  
} 
nav ul {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    list-style-type: none;
    color: white;
    font-size: 20px;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
li {
    color: black;
}
a {
    text-decoration: none;
}
/* RESPONSIVE RULES - HEADER */
@media screen and (max-width: 636px) {
    header .mobile {
        display: inline-block;
    }

    header .desktop {
        display: none;
    }
}
/* BUTTONS */
.fa {
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 50%;
    margin: 3px;
}
.fa:hover {
    opacity: 0.5;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}


/* BIO */
.bioimagedetails {
    float: left;
    width: 550px;
    height: auto;
    margin: 5px;
    padding: 10px;
}
.biocontainer p {
    font-size: 24px;
}

/* PHOTOS */
.photos {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           5px;  
  }
  
  .photos img {
    width: 100%;
    height: auto;
    padding: 3px;
    padding-left: 5px;
  }

/* PHOTOS RESPONSIVE DESIGN */
  @media (max-width: 1000px) {
    .photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    width: 100%;
    }
  }
  @media (max-width: 800px) {
    .photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    width: 100%;
    }
  }
  @media (max-width: 400px) {
    .photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    width: 100%;
    }
  }

/* VIDEOS
.videos {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           5px;  
    width: 100%;
    height: auto;
    padding: 3px;
    padding-left: 5px;
  }

/* VIDEOS RESPONSIVE DESIGN */
  /* @media (max-width: 1000px) {
    .videos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    width: 100%;
    }
  }
  @media (max-width: 800px) {
    .videos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    width: 100%;
    }
  }
  @media (max-width: 400px) {
    .videos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    width: 100%;
    }
  } */ 

/* DISCOGRAPHY */
.features h4 {
    text-align: center;
    text-transform: uppercase;
}
.features {
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: uppercase;
    align-content: space-between;
    text-align: center;
    justify-content: space-evenly;
}
.features figure img {
    margin: 2px;
    border: 1px solid black;
    box-shadow: black 0px 0px 10px;
    width: 350px;
    height: 350px;
}

@media and (max-width: 1000px) {
    .container {
        justify-content: space-around;
    }
    .bioimagedetails {
        width: 400px;
        height: auto;
        vertical-align: middle;
    }
@media and (max-width: 500px) {
    .bioimagedetails {
        width: 300px;
        height: auto;
        vertical-align: middle;
    }
    .biocontainer p {
        font-size: 20px;
        width: 400px;
    }
}

